.header {
	clear: both;
	text-align: center;
	border-style: solid;
	padding: 2% 1% 4% 1%
}

button {
	width: 18%;
	float: left;
}

p {
	width: 21%;
	float: left;
}

button:hover {
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
	color: purple;
	font-weight:bold;
}
